.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin: 0 0.75rem;
  }
  
  .toggle-switch input[type="checkbox"] {
    display: none;
  }
  
  .toggle-switch .switch {
    position: absolute;
    cursor: pointer;
    background-color: #5D7A8C; 
    border-radius: 25px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color 0.2s ease;
  }
  
  .toggle-switch .switch::before {
    position: absolute;
    content: "";
    left: 2px;
    top: 2px;
    width: 21px;
    height: 21px;
    background-color: #333;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .toggle-switch input[type="checkbox"]:checked + .switch::before {
    transform: translateX(25px);
    background-color: #333;
  }
  
  .toggle-switch input[type="checkbox"]:checked + .switch {
    background-color:#99b4bf;
  }
  
  #theme-button {
    cursor: pointer;
  }
  
  .col {
    margin: 10px;
  }
  
  .nameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .fullName {
    text-align: center;
  }
  
  .fullName h1 {
    font-size: 70px;
  }
  
  .underName {
    font-size: 28px;
    text-align: center;
  }
  
  .beforeChangingWord,
  #changingWord {
    font-size: 28px;
    text-align: center;
  }
  
  nav,
  .card {
    background-color: #99b4bf;
  }
  
  
  .navbar-brand,
  .nav-link,
  .nav-link-active {
    color: white;
  }
  
  body {
    background-color: #5d7a8c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }
  
  .dark-mode {
    background-color: #99b4bf;
    color: #f5f5f5;
  }
  

  
  .dark-mode h2,
  .dark-mode p,
  .dark-mode summary,
  .dark-mode .navbar-brand,
  .dark-mode .nav-link,
  .dark-mode .nav-link-active,
  .dark-mode .card-title {
    color: #f5f5f5;
  }
  
  a {
    text-decoration: none;
  }
  
  svg {
    margin-right: 10px;
  }


.button-56 {
  margin: 15dp;
  align-items: center;
  background-color: whitesmoke;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #99b4bf;
  outline: 0;
}

.button-56:hover{
  background-color: #99b4bf;
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
/* Light mode styles */
.kevin a:link,
.source:link {
  color: #0056b3; 
}

.kevin a:visited,
.source:visited {
  color: #3a4b4f; 
}

.kevin a:hover,
.source:hover {
  color: #007bff; 
}

.kevin a:active,
.source:active {
  color: #000; 
}

/* Dark mode styles */
.dark-mode .kevin a:link,
.dark-mode .source:link {
  color: #536666; 
}

.dark-mode .kevin a:visited,
.dark-mode .source:visited {
  color: #2c65a3; 
}

.dark-mode .kevin a:hover,
.dark-mode .source:hover {
  color: #4285f4; 
}

.dark-mode .kevin a:active,
.dark-mode .source:active {
  color: #e0e0e0; 
}
  
  body{
    font-family:monospace;
  }
  
  .about{
    display: flex;
    margin: 15px;
  }
  

  .about h2{
    text-align: center;
  }
  
  .about p{
    margin: 20px;
  }
  
  .text-center img{
    width: 300px;
    margin-bottom: 15px;
  }
  
  
  ol{
    list-style-type: none;  
    width: 100%;
  }
  li{
    display: inline-flex;
    margin: 10px;
  }
  
  .contact-list img{
    width: 45px;
  }
  
  #buttonPage, .btn-spacing{
    margin: 5px;
  }
  
  .custom-footer {
    background-color: #5D7A8C; 
    color: #fff;
    padding: 30px;
    text-align: center;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .icon {
    height: 40px;
    margin-right: 10px;
  }
  
  .copy {
    font-size: 14px;
  }

  .dark-mode .button-56:active  {
    background-color: #5D7A8C; 
    outline: 0;
  }
  .dark-mode .button-56:hover  {
    background-color: #5D7A8C; 
    outline: 0;
  }

  .dark-mode #btn-boot, #btn-root {
    color: #000;
  }
  .dark-mode .card{
    background-color:#5D7A8C; 
  }
  .dark-mode .custom-footer{
    background-color: #99b4bf;
    color: #f5f5f5;
  }
  .navBar {
    background-color: #99b4bf;
  }
  
  .dark-mode .navBar {
    background-color: #5D7A8C;
  }


